copy-to-warehouse/pipeline/Copy Parquet to Warehouse x.json
{
	"name": "Copy Parquet to Warehouse x",
	"properties": {
		"activities": [
			{
				"name": "ForEachParquetFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourceList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceList').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "SwitchTables",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SwitchTable]",
								"storedProcedureParameters": {
									"TableName": {
										"value": "Address",
										"type": "String"
									},
									"TableSchema": {
										"value": "dbo",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AdventureWorksDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ParquetToTable",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SwitchTables",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DataLakeParquet",
									"type": "DatasetReference",
									"parameters": {
										"FileSystem": "modern-data",
										"Directory": "/1-raw/retail-adventureworks/SalesLT.Address"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "GetSourceList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DataLakeCsv",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}