copy-to-warehouse/pipeline/Copy Parquet to Warehouse.json
{
	"name": "Copy Parquet to Warehouse",
	"properties": {
		"activities": [
			{
				"name": "List of Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DataLakeParquet",
						"type": "DatasetReference",
						"parameters": {
							"FileSystem": "modern-data",
							"Directory": "/1-raw/retail-adventureworks"
						}
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "ForEachParquetFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "List of Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('List of Files').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Parquet to Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowCopyCommand": true,
									"tableOption": "autoCreate"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DataLakeParquet",
									"type": "DatasetReference",
									"parameters": {
										"FileSystem": "modern-data",
										"Directory": {
											"value": "/1-raw/retail-adventureworks/@{item()}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataWarehouseTable",
									"type": "DatasetReference",
									"parameters": {
										"TableSchema": "dbo",
										"TableName": "Address_tmp"
									}
								}
							]
						},
						{
							"name": "SwitchTables",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Parquet to Table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SwitchTable]",
								"storedProcedureParameters": {
									"TableName": {
										"value": "Address",
										"type": "String"
									},
									"TableSchema": {
										"value": "dbo",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AdventureWorksDW",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}