copy-to-warehouse/pipeline/LoandAndSwitch2.json
{
	"name": "LoandAndSwitch2",
	"properties": {
		"activities": [
			{
				"name": "ForEachParquetFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourceList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceList').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "ParquetToStagingTable",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'modern-data'}/@item().SourceFolder"
								},
								{
									"name": "Destination",
									"value": "@{item().StagingTableSchema}.@{item().StagingTableName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@item().SourceFolder",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 10,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true
							},
							"inputs": [
								{
									"referenceName": "DataLakeParquet",
									"type": "DatasetReference",
									"parameters": {
										"FileSystem": "modern-data"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataWarehouseTable",
									"type": "DatasetReference",
									"parameters": {
										"TableSchema": {
											"value": "@item().StagingTableSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().StagingTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SwitchTables",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ParquetToStagingTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SwitchTable]",
								"storedProcedureParameters": {
									"StagingTableName": {
										"value": {
											"value": "@item().StagingTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"StagingTableSchema": {
										"value": {
											"value": "@item().StagingTableSchema",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetTableName": {
										"value": {
											"value": "@item().TargetTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetTableSchema": {
										"value": {
											"value": "@item().TargetTableSchema",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AdventureWorksDW",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "GetSourceList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select \n    SourceFolder,\n    StagingTableSchema,\n    StagingTableName,\n    TargetTableSchema,\n    TargetTableName,\n    LastRefreshed\nfrom dbo.SourceList\nwhere\n    IsEnabled = 1\norder by LastRefreshed asc",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DataWarehouseQuery",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}