copy-to-warehouse/pipeline/RefreshWarehouseWithParquetSources.json
{
	"name": "RefreshWarehouseWithParquetSources",
	"properties": {
		"activities": [
			{
				"name": "ForEachParquetFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetSourceList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetSourceList').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "SwitchTables",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ParquetToTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[SwitchTable]",
								"storedProcedureParameters": {
									"TableName": {
										"value": {
											"value": "@item().TargetTableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"TableSchema": {
										"value": {
											"value": "@item().TargetTable",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AdventureWorksDW",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ParquetToTable",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "TruncateTargetTable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Source",
									"value": "@{'modern-data'}//"
								},
								{
									"name": "Destination",
									"value": "@{item().TargetTableSchema}.@{item().TargetTableName}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@item().SourceFolder",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlDWSink",
									"allowPolyBase": true,
									"polyBaseSettings": {
										"rejectValue": 10,
										"rejectType": "value",
										"useTypeDefault": true
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"redirectIncompatibleRowSettings": {
									"linkedServiceName": {
										"referenceName": "DataLake",
										"type": "LinkedServiceReference"
									},
									"path": "modern-data/erroroutput"
								}
							},
							"inputs": [
								{
									"referenceName": "DataLakeParquet",
									"type": "DatasetReference",
									"parameters": {
										"FileSystem": "modern-data"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DataWarehouseTable",
									"type": "DatasetReference",
									"parameters": {
										"TableSchema": {
											"value": "@item().TargetTableSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TargetTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "TruncateTargetTable",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": {
										"value": "truncate table @{item().TargetTableSchema}.@{item().TargetTableName};\nselect 1 as TruncateSuccessful",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "DataWarehouseQuery",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "GetSourceList",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DataLakeCsv",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": []
	}
}